
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700');

html,body{
  height: 100vh;
  width: 100vw;

  position: fixed;
  overflow-y: none;
}

*{
  margin: 0;
  padding: 0;
}

body{
	background: rgb(69,72,77);

	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

h1{
  font-size: 42px;
}


canvas#GAME {
  z-index: -1;
  position: absolute;

  border: 10px solid #df2424;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}


/* The main overlay container, containing overlay sections */
#OVERLAY{
  position: fixed;
	z-index: 10;
}

/* Each Section within an overlay is a different area of the screen */
section {
  position: fixed;
	margin: 10px;
}



section#menus{
  background-color: rgba(255,255,255,0.8);
  border: 2px #111 solid;
  width: 400px;
  margin-top: -250px;
  text-align: center;
  padding: 10px;
}

.user_input{
  display: inline-block;
  border: 4px solid #111;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 4px;
}
.user_input input{
  outline: none;
  font-size: inherit;
  background: none;
  border: none;
}
.user_input button{
  background: none;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: inherit;
}


#usernameError{
  color: red;
  font-size: 12px;
  margin-top: 2px;
}

#menu_end{
  display: none;
}

.playBtn{
  background-color: red;
  padding: 10px;
  color: #fff;
  font-size: 28px;
}


section#score{
  color: #eee;
  display: none;
}

section#question{
	font-size: 100px;
	color: #fff;
}

section#leaderboard{
	color: #fff;
  display: none;
}
.lb-main{
	border: 2px solid #111;
	padding: 10px;
	background-color: rgba(255,255,255,0.8);
	color: #111;
}
.lb-main .lb-title{
	border-bottom: 2px solid #111;
	font-weight: 700;
	font-size: 30px;
}
.lb-main ul{
	list-style: none;
	padding-left: 0;
}
.lb-main li{
	font-weight: 300;
	font-size: 20px;
}
.lb-main li .lb-score{
	font-weight: 500;
	float: right;
}




section.top{
  top: 0;
}
section.middle{
  top: 50%;
  transform: translateY(-50%);
}
section.bottom{
  bottom: 0;
}

section.left{
  left: 0;
}
section.center{
  left: 50%;
  transform: translateX(-50%);
}
section.right{
  right: 0;
}


#answerChoices{
  width: 100%;
  text-align: center;
  font-size: 100px;
  /* background-color: rgba(255,255,255,0.2); */
}
#answerChoices span{
  margin: 0 15px;
}
